params {
    /*
     * Trimming.
     */

    // Whether to trim or not.
    TRIM_FASTQ = true

    // Permitted range for read lengths as a fraction of the original read length. (Min: 0 and Max: 100).
    TRIM_MINIMUM_FRACTION_READ = 10

    // Quality Threshold for Trimming (Min: 0 and Max: 50).
    TRIM_QUALITY_THRESHOLD = 5
}



manifest {
    mainScript = 'tap.nf'
    nextflowVersion = '>=20.0.0'
    version = '2.0.0'
    recurseSubmodules = true
}

executor {
    $slurm {
        queueSize = 150
        pollInterval = '30sec'
        queue = 'general'
        clusterOptions = "--nodes=1 --open-mode=truncate"
    }
}

singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = "-B '${projectDir}'"

process {
    container = 'nrlabcruk/nrlabtap'

    errorStrategy = {
        task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish'
    }

    cpus = 1
    memory = '1g'
    time = '15m'
}

profiles {
    slurm {
        // The default is, on request, the same as the "slurm" profile.
        params.MAX_CORES = 16
        process.executor = 'slurm'
    }

    slurm {
        params.MAX_CORES = 16
        process.executor = 'slurm'
    }

    desktop {
        params.MAX_CORES = 6
        process.executor = 'local'
        executor.$local.cpus = params.MAX_CORES
        executor.$local.memory = '20g'
    }

    bigserver {
        params.MAX_CORES = 28
        process.executor = 'local'
        executor.$local.cpus = params.MAX_CORES
        executor.$local.memory = '180g'
    }
}

env {
    TAP_HOME = projectDir
}

timeline {
    enabled = true
    file = "work/execution_timeline.html"
}
report {
    enabled = true
    file = "work/execution_report.html"
}
